body {
    background-color: orange;
}
#text { 
    /* border: 2px solid black; */
    width: 400px;
    color: white;
    text-align: center;
    margin: 20px auto;
    font-size: 30px;
}
/*ㄴ*/
button {
    color: white;
    background-color: orange;
    border: 2px solid white;
    font-size: 18px;
    padding: 10px 20px;
    width: 100px;
    margin: 10px;
    cursor: pointer;
}